body {
  background: hsl(220, 4%, 14%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  color: #2FB270;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  border-radius: .4em;
}

a {
  color: #5E9CD9;
  text-decoration: none;
  border-bottom: 1px solid hsl(210, 62%, 48%);;
}

h3, h4 {
  color: #C91611;
}

p {
  color: #F5EBD0
}
em {
  color:#2FB270;
}
strong {
  color: #FFC631;
}
li {
  background-color: hsl(220, 4%, 17%);
  border: 1px solid #FFC631;
  border-radius: .4em;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
  text-align: center;
}

.wrapper h2 {
  color: #C91611;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }

@media(min-width: 600px) {
  .wrapper {
    font-size: 18px;
  }
}
@media(min-width: 1000px) {
  .wrapper {
    font-size: 22px;
  }
}