.hero {
  position: relative;
  background: hsl(40, 12%, 15%);
  color: #E3DE4A;
  text-align: center;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  width: 100vw;
}

.heroDetails {
  position: absolute;
  background: hsla(40, 12%, 15%, .7);
  left: 40%;
  bottom: 60%;
  transform: translate(-50%, 0);
  font-size: 14px;
  padding: 0 0.5em;
  border: 2px solid hsla(210, 62%, 61%, .9);
  border-radius: .2em;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
    left: 30%;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
    left: 30%;
  }
}

.heroHeadline {
  margin: 0;
  background-color: transparent;
}

.heroTitle {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}
